.flecha {
    width: 30px;
    height: 30px;
}

.logo {
    display: flex;
    justify-content: end;
    margin-top: -15px;
    align-items: center;
    img{
        width: 35%;
    }
}

.radio-container {
    position: absolute;
    display:flex;
    justify-content: space-between;
    width: 80%;
    left:10%;
}

.transferencia {
    font-family: 'Montserrat', sans-serif;
    font-size : 22px;
    font-weight: bold;
    margin-top: 40px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: -20%;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;

}
input[type="radio"] {
    margin-right: 100px;
}

.linea {
    width: 95%;
}

.linea1 {
    width: 110%;
    margin-left: -5%;
}

.card {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-left: 10px;
    margin-top: 20px;
}

.formulario {
    width: 98%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
}

.boton1 {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.input-container {
    background-color: #bdc1f2;
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 30px;
    margin-top: 15px;
}

.input-container input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.icono {
    background-image: url('Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}   

.transfer {
    width: 55%;
    height: 550%;
    display: flex;
    justify-content: center;
    align-items: center;
}