.flecha {
    width: 30px;
    height: 30px;
    margin-top: 0%;
}

.logo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -3%;
    img{
        width: 35%;
    }
}

.radio-container {
    position: absolute;
    display:flex;
    justify-content: space-between;
    width: 80%;
    left:10%;
}

.transferencia {
    font-family: 'Montserrat', sans-serif;
    font-size : 22px;
    font-weight: bold;
    margin-top: 60px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: -20%;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;

}
input[type="radio"] {
    margin-right: 100px;
}

.linea {
    width: 95%;
}

.linea1 {
    width: 110%;
    margin-left: -5%;
}

.card {
    display: flex;
    justify-content: center;
    width: 95%;
    margin-left: 10px;
    margin-top: 20px;
}

.formulario {
    width: 98%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
}

.boton1 {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.input-container {
    background-color: #bdc1f2;
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 30px;
    margin-top: 15px;
}

.input-container input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.icono {
    background-image: url('Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}   

.transfer {
    width: 55%;
    height: 550%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transferencia2 {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: white;
    margin-top: -220px;
    margin-left: 33px;
}

.card-input-container {
    background-image: url('CardCheck.png'); /* Usá el nombre de tu imagen acá */
    background-size: cover;
    background-color: #5252FF;
    background-repeat: no-repeat;
    background-position: center;
    width: 330px;           /* ajustá según tu diseño */
    height: 180px;          /* ajustá según tu imagen */
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 30px;
    overflow: hidden;
}

.input-overlay {
    background: transparent;
    border: none;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: none;
    width: 300px;
    justify-content: center;
    position: relative;
    display: inline-block;
}

.card-input-container input {
    padding-left: 18px;
    font-size: 32px;
    height: 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    position: relative;
}

.simbolo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

.input-text {
    position: absolute;
    top: 15px;
    left: 20px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.input-text2 {
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.input-text3 {
    position: absolute;
    bottom: 10px;
    color:white;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.impuesto {
    background-color: #e3ebfd;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 330px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    justify-content: space-between;
    
}


.impuesto-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #4D4D4D;
}

.iconoImpuesto {
    position: relative;
    margin-left: 10px;
}

.izquierda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.importe {
    color:#4D4D4D;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.mensaje {
    background-color: #C4C4C4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 330px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

.input-mensaje {
    background-color: #C4C4C4;
    border-radius: 12px;
    border-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    outline: none;
    box-shadow: none;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 8px 12px;
}

.iconoMensaje {
    margin-left: 110px;
}

.buttonNext {
    background-color: white;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}

.button-container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 320px;
}